/* Стили для виртуальных стрелок */
.virtual-arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Установка z-index, чтобы виртуальные стрелки были выше холста игры */
}
.arrow-btn {
  width: 65px;
  height: 65px;
  font-size: 35px;
  touch-action: manipulation; /* Установка touch-action, чтобы избежать задержки при нажатии на кнопки на iPhone */
}